<!--
    <span class="form-label-bold"></span>
-->
<span class="form-label-bold" data-test="question">
  <%= question.title %>
</span>

<% if question.hint.present? %>
  <span class="form-hint"><%= question.hint %></span>
<% end %>

<% if question.error %>
  <span class="error-message" id="current-error" role="alert">
    <%= question.error %>
  </span>
<% end %>
