<fieldset>
  <legend>
<!--
    <span class="form-label-bold"></span>
-->
    <%= render partial: "smart_answers/label", locals: { question: question } %>
  </legend>

  <div class="form-group">
    <% question.options.each.with_index do |option, i| %>
      <label for="response_<%= i %>" class="block-label">
        <%= check_box_tag "response[]", option.value, prefill_value_includes?(question, option.value), id: "response_#{i}" %>
        <%= option.label %>
      </label>
    <% end %>
  </div>
</fieldset>
