<label for="response">
  <%= render partial: "smart_answers/label", locals: { question: question } %>
</label>
<%= select_tag "response", options_from_collection_for_select(question.options, :value, :label, prefill_value_for(question)) %>
