<label for="response">
  <%= question.label.present? ? question.label : 'Amount (in £)' %>
  <%= text_field_tag('response', nil, size: 5, value: prefill_value_for(question)) %>
  <%= question.suffix_label %>
</label>
