<div class="form-group">
  <label for="response" class="form-label">
    <%= render partial: "smart_answers/label", locals: { question: question } %>
  </label>
  <% if question.label.present? %>
    <span class="labelish"><%= question.label %></span>
  <% end %>
  <%= text_field_tag('response', prefill_value_for(question), class: "form-control") %>
  <%= question.suffix_label %>
</div>
